@import url(../assets/font/fontawesome-5.15.1/css/all.min.css);
@import url(../css/components/header.css);
@import url(../css/components/login.css);

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.main{
    width: 100%;
    /* height: calc(100vh - 150px); */
    display: flex;
    margin-top: 50px ;
}

:root{
    --header-color: #dddddd;
    --sp-white: #fff;
    --sp-green: #70BA02;
}

